ejercicio16/src/main/app/ejercicio16.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:oracle-config name="Oracle_Configuration" host="192.168.100.9" port="1521" instance="prometeo" user="jsbejarano1" password="123456" doc:name="Oracle Configuration"/>
    <flow name="ejercicio16Flow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="1000"/>
            <db:select config-ref="Oracle_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[select *from aerolinea]]></db:parameterized-query>
            </db:select>
        </poll>
        <collection-splitter doc:name="Collection Splitter"/>
        <logger message="#[payload.NOMBRE]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
